<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="icon" href="https://cdn.iconscout.com/icon/free/png-256/mongodb-3629612-3032310.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityMaz</title>
</head>
<body>
    <%- include("template/navbar") %>
    <div class="container mt-3">
        <h1>CityMaz</h1>
        <p>Nodejs-MongoDB CRUD</p>  
        <a href="/cities"><button class="btn btn-primary mb-3" >Cities List</button></a>
    </div>
    <%- include("template/footer") %>
</body>
</html>
